%h1= "Configuration for #{@container.name}"
%hr

:css
  #editor {
      position: absolute;
      width: 600px;
      height: 400px;
  }

.row
  .span8#editor= @config_data
  .span4.offset8
    %p test

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/github");
  editor.getSession().setMode("ace/mode/sh");
  editor.getSession().setUseWrapMode(false);
-#  %pre
-#    %code.prettyprint.linenums.lang-bash= @config_data

