.page-header
  %h1 Console

.row
  .span12
    = form_for 'console', :remote => true do |f|
      %center
        .input-append
          %input.input-xxlarge#console_script{name: "console[script]", type: "text", value: session[:script]}
          %input.btn.btn-info.input-small#stop_button{value: 'Stop', disabled: true}
          %input.btn.btn-primary.span2#run{name: "commit", type: "submit", value: "Run"}
.row
  .span12
    #alert_failed_job
    %pre#results_wrap{style: "overflow: auto; height: 350px;"}
      %code.prettyprint.lang-bash#results
