$('#results').text('<%= escape_javascript @data.html_safe %>');
$("#results_wrap").each( function() 
  {var scrollHeight = Math.max(this.scrollHeight, this.clientHeight);
  this.scrollTop = scrollHeight - this.clientHeight;});
if('<%= escape_javascript @status["status"] %>'=='completed'){
  clearInterval(upd_id);
  $('#run').removeAttr('disabled').attr('value', 'Run').attr('class', 'btn btn-primary span2');
  }else if('<%= escape_javascript @status["status"] %>'=='failed'){
  $('#alert_failed_job').attr('class', 'alert alert-error').html('<div id="flash_notice">Job Failed</div>').fadeOut(3000);
  clearInterval(upd_id);
  $('#run').removeAttr('disabled').attr('value', 'Run').attr('class', 'btn btn-primary span2');
  }

