%hr

:css
  #editor {
      position: relative;
      width: 880px;
      height: 400px;
      border: 1px solid #ddd;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
  }

.row
  .span12
    %center
      %form#update_config{action: "/containers/#{@container.name}/write_config", method: "post"}
        .input-prepend.input-append
          %span.add-on Save as:
          %input.control-label.span4{:type => "text", :name => "path", :value => @path}
          %input.btn.btn-primary#save_button{:type => "submit", :value => "Save File"}
          %a.btn.btn-primary#unlock_button Unlock Document for Editing
        %textarea.control-label#file_editor{:name => "config"}
.span12
  %br
  %div#editor= @config_data
  %center
    %br
    = link_to "Back to #{@container.name}", containers_path + "/" + @container.name, class: "btn"

:javascript
  $(document).ready(function(){
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/github");
  editor.getSession().setMode("ace/mode/sh");
  editor.getSession().setUseWrapMode(false);
  editor.setReadOnly(true);
  $("#file_editor").hide();
  $("#save_button").attr('disabled', 'disabled').attr('class', 'btn btn-info');
  $("#unlock_button").click(function() {
    editor.setReadOnly(false);
    //$("#unlock_button").hide();
    $("#save_button").removeAttr('disabled').attr('class', 'btn btn-primary');
    $("#unlock_button").attr('disabled', 'disabled').attr('class', 'btn btn-info');
  });
  $("#update_config").submit(function(){
  $("#file_editor").val(editor.getSession().getValue());
  });
  });

