%hr

:css
  #editor {
      width: 500px;
      height: 400px;
  }

.row
  .span6
    %div#editor= @config_data
  .span4.offset6
    %form#update_config{action: "/containers/#{@container.name}/write_config", method: "post"}
      %fieldset
        .control-group
          %label.control-label Filename
          .controls
            %input.control-label.input-xlarge{:type => "text", :name => "path", :value => @path}
        .control-group
          .controls
            %textarea.control-label#file_editor{:name => "config"}
        .form-actions
          %center
            = link_to "Back to #{@container.name}", containers_path + "/" + @container.name, class: "btn"
            %input.btn.btn-primary#save_button{:type => "submit", :value => "Save File"}
      %center
        %a.btn.btn-alert#unlock_button Unlock Document for Editing

:javascript
  $(document).ready(function(){
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/github");
  editor.getSession().setMode("ace/mode/sh");
  editor.getSession().setUseWrapMode(false);
  editor.setReadOnly(true);
  $("#file_editor").hide();
  $("#save_button").hide();
  $("#unlock_button").click(function() {
    editor.setReadOnly(false);
    $("#unlock_button").hide();
    $("#save_button").show();
  });
  $("#update_config").submit(function(){
  $("#file_editor").val(editor.getSession().getValue());
  });
  });
