%a.brand{:href => "/"}
  LXC Panel
%ul.nav
  %li
    = link_to "Containers", containers_path
  %li
    = link_to "Host Console", console_path
  %li
    = link_to "LXC Manual", '/man/lxc'
  %li
    = link_to "Resque Status", '/resque/statuses'
-# %ul.nav.pull-right
-#   - if !user_signed_in?
-#     %li
-#       = link_to('Sign up', new_user_registration_path)
-#     %li
-#       = link_to('Login', new_user_session_path)
-#   - else
-#     %li
-#       = link_to('Edit account', edit_user_registration_path)
-#     %li
-#       = link_to('Logout', destroy_user_session_path, :method=>'delete')
